# The token from a Discord account used for the bot
# https://github.com/reactiflux/discord-irc/wiki/Creating-a-discord-bot-&-getting-a-token
DISCORD_TOKEN=""
DISCORD_SERVER_NAME=""

# The Challonge API configuration
# https://challonge.com/settings/developer
CHALLONGE_USERNAME=""
CHALLONGE_API_KEY=""

# The MariaDB database configuration
# (if "DB_HOST" is blank, it will default to localhost)
# (if "DB_PORT" is blank, it will use 3306, which is the default MariaDB port)
DB_HOST=""
DB_PORT=""
DB_USER="isaacuser"
DB_PASS=""
DB_NAME="isaac"

# Tournament configuration
# (all of values in this section are comma-separated lists so that multiple tournaments can be handled at once)
# (the "TOURNAMENT_NAMES" list must match the Challonge URLs)
# (the "TOURNAMENT_RULESETS" list must contain values of "seeded" or "unseeded")
TOURNAMENT_NAMES=""
TOURNAMENT_RULESETS=""
DISCORD_CATEGORY_NAMES=""

# Match configuration
BEST_OF=5
NUM_BANS=3
NUM_VETOS=1
