# The token from a Discord account used for the bot.
# https://github.com/reactiflux/discord-irc/wiki/Creating-a-discord-bot-&-getting-a-token
DISCORD_TOKEN=""
DISCORD_SERVER_NAME=""

# The Challonge API configuration.
# https://challonge.com/settings/developer
CHALLONGE_USERNAME=""
CHALLONGE_API_KEY=""

# The MariaDB database configuration.
# If "DB_HOST" is blank, it will default to "localhost".
# If "DB_PORT" is blank, it will use 3306, which is the default MariaDB port.
DB_HOST=""
DB_PORT=""
DB_USER="isaacuser"
DB_PASS=""
DB_NAME="isaac"

# The tournament configuration.
# All of values in this section are comma-separated lists so that multiple tournaments can be
# handled at once.
# "TOURNAMENT_CHALLONGE_URLS" must contain only the URL suffix and not the entire URL.
# A list of valid values for the "TOURNAMENT_RULESETS" list is found at the top of the
# "challonge.go" file.
# You can find the category ID by enabling developer mode and then right-clicking on the category in
# Discord.
TOURNAMENT_CHALLONGE_URLS=""
TOURNAMENT_RULESETS=""
TOURNAMENT_DISCORD_CATEGORY_IDS=""
TOURNAMENT_BEST_OF=""

# The match configuration. (This is shared between all tournaments.)
# "TOURNAMENT_TYPE" can be:
# - "banPick" - Players will perform N bans (where N is equal to "NUM_CHARACTER_BANS" or
#   "NUM_BUILD_BANS"), and then perform M picks (where M is equal to "TOURNAMENT_BEST_OF").
# - "veto" - Players will perform N vetos (where N is equal to "NUM_CHARACTER_VETOS" or
#   "NUM_BUILD_VETOS"), and then the picks will be randomly chosen.
TOURNAMENT_TYPE="banPick"
NUM_CHARACTER_BANS="3"
NUM_BUILD_BANS="3"
NUM_CHARACTER_VETOS="1"
NUM_BUILD_VETOS="1"
